 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p> A CERT A computer emergency response team is an expert group that handles computer security incidents. Alternative names for such groups include computer emergency readiness team and computer security incident response team.</p>
                    <p>It is like protecting a building and since every building is different and since it is the first time, all CERT are different. As TibCERT, we are not thinking about the exile community alone and also focusing on Tibetans inside Tibet.
                    </p>
                </div>
            </div>
        </div>
    </section>
