 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་སྐོར།</h2>
                     <img src="/img/pata2-dark.png" alt="">
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p> 
                        བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གིས་དངོས་གཞིའི་མཉམ་འབྲེལ་གཞིར་བཟུང་གི་སྒྲོམ་གཞི་ཞིག་གི་འོག་ཏུ། བོད་པའི་ཚོགས་སྡེ་ཁག་ལ་འཕྲད་བཞིན་པའི་དྲ་ཐོག་གི་ཉེན་ཁའི་རིགས་ཆུང་དུ་གཏོང་རྒྱུ་དང་། བོད་ནང་གི་དྲ་རྒྱ་བཀག་སྡོམ་དང་གསང་མྱུལ། བཙན་བྱོལ་སྤྱི་ཚོགས་ཁྲོད་ཀྱི་དྲ་ཐོག་གི་ཉེན་ཁ་དང་འབྲེལ་བའི་གནས་ཚུལ་སོགས་ཀྱི་ཐོག་ཏུ། བོད་མི་ཚོའི་འཕྲུལ་རིག་ཉམས་ཞིབ་ཀྱི་ནུས་པ་རྒྱ་བསྐྱེད་གཏོང་རྒྱུ་དེ་ཡིན་ལ། མཐའ་དོན། བོད་པའི་སྤྱི་ཚོགས་ཁྱོན་ཡོངས་ལ་ཚད་མཐོ་ བའི་དྲ་ཐོག་གི་རང་དབང་དང་བདེ་འཇགས་ཁག་ཐེག་བྱེད་རྒྱུ་དེ་ཡིན།
                    </p>
                </div>
            </div>
        </div>
    </section>
