 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                     <img src="/img/pata2-dark.png" alt="">
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p> The Tibetan Computer Emergency Readiness Team (TibCERT) seeks to create a formal, coalition-based structure for reducing and mitigating online threats in the Tibetan community, as well as to expand Tibetans’ technical research capacity on threats in the diaspora and surveillance and censorship inside Tibet, ultimately ensuring greater online freedom and security for Tibetan society as a whole. 

                    </p>
                </div>
            </div>
        </div>
    </section>
