 <!-- About Section -->
    <section class="" id="membership">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center heading">
                    <h2>བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཚོགས་མིའི་ཆ་རྐྱེན་ཁག</h2>
                    <img src="/img/pata2-green.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="subheader">
                    ཚོགས་མི་ཚོགས་པ་སྒྲིག་འཛུགས་ཁག་གིས།  བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཡ་ལན་རུ་ཁག་གི་ངོས་ནས་འབྲེལ་གཏུག་བྱ་སའི་ལས་བྱེད་ཅིག་རང་རང་གི་ལས་ཁུངས་ནང་དུ་ངེས་པར་དུ་བསྐོ་བཞག་བྱེད་དགོས།
                    </p>
                </div>
            </div>
           
            <div class="row" id="membership">
                    <div class="col-lg-12 box-shape1" >
                       <p>འབྲེལ་ཡོད་ལས་ཁུངས་དང་སྒྲིག་འཛུགས་ཀྱི་ལས་བྱེད་ཚང་མ། ཡ་ལན་རུ་ཁག་གི་ངོས་ནས་བཀོད་སྒྲིག་བྱས་པའི་དྲ་རྒྱའི་བདེ་འཇགས་ཀྱི་རྨང་གཞིའི་སྦྱོང་བརྡར་གྱི་ནང་དུ་ཞུགས་རྒྱུ་ངེས་པར་དུ་ཁས་ལེན་བྱེད་དགོས།སྦྱོང་བརྡར་ཁག་ཚོགས་པ་དང་སྒྲིག་འཛུགས་བྱེ་བྲག་པ་རེ་རེའི་དམིགས་བསལ་གྱི་དགོས་མཁོ་གཞིར་བཟུང་སྟེ་སྤྲོད་རྒྱུ་ཡིན་ལ། སྦྱོང་བརྡར་དེ་ཚོགས་པ་སྒྲིག་འཛུགས་གང་རུང་ཞིག་བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཁོངས་སུ་ཞུགས་རྗེས་ཀྱི་ཟླ་དྲུག་གི་ནང་ཚུད་དུ་སྤྲོད་དགོས།</p>
                    </div>
                    <div class="col-lg-12 box-shape1">
                       <p>
                           ཚོགས་པ་སྒྲིག་འཛུགས་བྱེ་བྲག་པ་དེར་གཏན་འབེབས་ཟིན་པའི་དྲ་རྒྱའི་བདེ་འཇགས་ཀྱི་སྲིད་ཇུས་ཤིག་ཡོད་དགོས་པའམ། ཡང་ན། བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཁོངས་སུ་ཞུགས་རྗེས་ཀྱི་ལོ་གཅིག་གི་ནང་ཚུད་དུ། ཡ་ལན་རུ་ཁག་གི་ཚོགས་མི་གང་རུང་ཞིག་དང་མཉམ་འབྲེལ་སྒོས། དྲ་རྒྱའི་བདེ་འཇགས་ཀྱི་སྲིད་ཇུས་གསར་སྤེལ་དང་ལག་བསྟར་བྱེད་རྒྱུ་ཁས་ལེན་བྱེད་དགོས།
 
                       </p>
                    </div>
                    <div class="col-lg-12 box-shape1">
                       <p>
                          ཚོགས་པ་སྒྲིག་འཛུགས་ཁག་གིས་རང་རང་གི་ཚོགས་པ་བརྒྱུད་ནས་ཧ་གོ་བ་དང་ངོས་འཛིན་ཐོབ་པའི་དྲ་ཐོག་གི་ཉེན་ཁའི་རིགས་(དོགས་གཞི་ཅན་གྱི་གློག་འཕྲིན་དང་། མཉེན་འབུ་སོགས། )ཀྱི་གཞི་གྲངས་སམ་ཡིག་ཆ་རིགས། ཞིབ་འཇུག་གི་ལས་གཞིའི་ཆེད་དུ། བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཡ་ལན་རུ་ཁག་གི་ཚོགས་མི་གང་རུང་ལ་བགོ་འགྲེམས་བྱེད་པའི་འདོད་མོས་ཡོད་དགོས།

                       </p>
                    </div>
                     <div class="col-lg-12 box-shape1">
                       <p>
                           ཚོགས་པ་སྒྲིག་འཛུགས་ཁག་གིས་རང་རང་གི་ཚོགས་པ་བརྒྱུད་ནས་ཧ་གོ་བ་དང་ངོས་འཛིན་ཐོབ་པའི་དྲ་ཐོག་གི་ཉེན་ཁའི་རིགས་(དོགས་གཞི་ཅན་གྱི་གློག་འཕྲིན་དང་། མཉེན་འབུ་སོགས།)ཀྱི་གཞི་གྲངས་སམ་ཡིག་ཆ་རིགས། བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ རྟོག་ཞིབ་ཚན་ཁག་ལས་དོན་རུ་ཁག་ལ་བགོ་འགྲེམས་བྱས་ཏེ། བོད་པའི་སྤྱི་ཚོགས་ཁྱོན་ཡོངས་ལ་འཕྲད་སྲིད་པའི་ཉེན་ཁའི་རིགས་ངོས་འཛིན་དང་དེ་དག་གི་གནས་བབ་ཆུང་དུ་གཏོང་བར་རོགས་འདེགས་བྱེད་དགོས།
                       </p>
                    </div>
                    <div class="col-lg-12 box-shape1">
                       <p>
                           ཚོགས་པ་སྒྲིག་འཛུགས་ཁག་གིས། གནས་ཚུལ་བདེ་འཇགས་བཟོ་ཚོང་ཁང་ཁག་གིས་བེད་སྤྱོད་གཏོང་བཞིན་པའི་ཡིག་ཆ་བགོ་འགྲེམས་བྱེད་ཕྱོགས་ཀྱི་ཚད་གཞི་སྟེ། འགྲིམ་འགྲུལ་གློག་གི་གྲོས་མཐུན་(Traffic Light Protocol)ལ་བརྩི་སྲུང་བྱེད་དགོས། (བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་དྲ་ངོས་སུ་ཡོད།)
                       </p>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <dl>
                    <dt><center><p><b>ཚོགས་མིའི་རིན་པ།</b></p></center></dt>
                    <dd>
                            <p>
                              ད་ལྟའི་ཆར། བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཁྱབ་ཁོངས་སུ་འཛུལ་བར་ཚོགས་མིའི་རིན་པ་གང་ཡང་སྤྲོད་དགོས་ཀྱི་མེད། འོན་ཀྱང་། ལས་འཆར་གལ་ཆེན་འདི་རྒྱུན་རིང་པོར་གནས་ཐུབ་པའི་ཆེད་དུ། མ་འོངས་པའི་ཚོགས་མི་གསར་པ་ཁག་ལ་རིན་པ་སྤྲོད་དགོས་པའི་ལམ་ལུགས་ཤིག་བཟོ་སྲིད། བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་ནི་ཚོགས་སྡེའི་རང་བཞིན་གྱི་ལས་འཆར་ཞིག་ཡིན་པས། ལས་འཆར་འདི་རྒྱུན་རིང་པོར་གནས་བར། ཚོགས་སྡེ་ཁག་གི་རྒྱབ་སྐྱོར་ནི་མེད་དུ་མི་རུང་བ་ཡིན་ནོ།
                            </p>
                  </dd>
                  </dl>
                    
                </div>
            </div>
        </div>
    </section>