 <!-- About Section -->
    <section class="success" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>ཞབས་ཞུ་ཁག</h2>
                     <img src="/img/pata2-dark.png" alt="">
                    <p class="subheader">བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གིས་གཤམ་དུ་འཁོད་པའི་ཞབས་ཞུ་ཁག་མཁོ་སྤྲོད་བྱེད་རྒྱུ་ཁས་ལེན་བྱེད་ཀྱི་ཡོད།</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center services" >
                    <div class="service-item col-sm-6">
                      <p>དྲ་རྒྱའི་བདེ་འཇགས་སྐོར་གྱི་སྦྱོང་བརྡར།</p>
                    </div>
                    <div class="service-item col-sm-6">
                      <p>དྲ་རྒྱའི་བདེ་འཇགས་དང་འབྲེལ་བའི་སྲིད་ཇུས་ཡར་རྒྱས་དང་ལག་བསྟར།</p>
                     </div>
                    <div class="service-item col-sm-6">
                      <p>དྲ་རྒྱའི་བདེ་འཇགས་དོན་རྐྱེན་ལ་ཡ་ལན།</p>
                    </div>
                    <div class="service-item col-sm-6">
                    <p>བདེ་འཇགས་ཡོད་པའི་འཕྲུལ་ཆས་རིགས་ཀྱི་སྐོར་ལ་ལམ་སྟོན་དང་། དེའི་འབྲེལ་གྱི་རྨང་གཞི་འཛུགས་སྐྲུན་བཀོད་སྒྲིག</p>
                    </div>
                    <div class="service-item col-sm-6">
                       <p>སྒྲིག་འཛུགས་རང་བཞིན་གྱི་བདེ་འཇགས་ཞིབ་བཤེར་དང་དག་ཐེར།</p>
                    </div>
                    <div class="service-item col-sm-6">
                      <p>བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ངོས་ནས། རོགས་འདེགས་ཞབས་ཞུ་སྟེགས་བུ་བཀོད་སྒྲིག་བྱེད་རྒྱུ་དང་། ཚོགས་མི་ཚོར་ཡ་ལན་སྤྲད་ཕྱོགས་ཀྱི་ཐོག་ཏུ་གལ་གནད་ཆེ་བ་འཛིན་རྒྱུ།</p>
                    </div>
                    <div class="service-item col-sm-12">
                      <p>བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཚོགས་མི་ཚོའི་ཤེས་བྱ་དང་ནུས་པ་གོང་མཐོར་གཏོར་ཕྱིར།  ཚོགས་མི་རྣམས་དྲ་རྒྱའི་བདེ་འཇགས་དང་། དོན་རྐྱེན་ཐོག་གཅོད་བྱེད་སྟངས་སྐོར་གྱི་སྦྱོང་བརྡར་ཁག་གི་ནང་འཛུལ་ཞུགས་བྱེད་པར་གདན་ཞུ་བྱེད་ངེས།</p>
                    </div>
                </div>        
        </div>
    </div> 
    </section>
     <!-- About Section -->
    