 <!-- About Section -->
    <section class="success" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Services</h2>
                    <hr class="star-light">
                    <p class="subheader">These are some of the services which will be provided to a member organization. The services are outlined below:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center services" >
                    <div class="col-md-6"><p>Digital Security Policy Development & Implementation</p></div>
                    <div class="col-md-6"><p>Guidance of secure tools & infrastructure deployment</p></div>
                    <div class="col-md-6"><p>Digital Security Incident Response</p></div>
                    <div class="col-md-6"><p>Training on Digital Security</p></div>
                    <div class="col-md-6"><p>Organizational Security Audit</p></div>
                </div>        
        </div>
    </div> 
    </section>
     <!-- About Section -->
    <section class="success" id="response">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Response Working Group</h2>
                    <hr class="star-light">
                    <p class="subheader">The Response working group would consist of the following members:</p>
                </div>
            </div>
            
            <div class="row" id="">
                    <div class="col-sm-12 box-shape1" >
                       <p>Tibet Action Digital Security Team</p>
                    </div>
                    <div class="col-sm-12 box-shape1">
                       <p>
                           Tibet Action Digital Security Ambassadors
                       </p>
                    </div>
                    <div class="col-sm-12 box-shape1">
                       <p>
                           A contact person from each member organization
                       </p>
                    </div>
                     <div class="col-sm-12 box-shape1">
                       <p>
                          Tibetans working in IT 
                       </p>
                    </div>
                     <div class="col-sm-12 box-shape1">
                       <p>
                          Supporting organizations - Ex. Citizen Lab
                       </p>
                    </div>
          </div>   
          <div class="row">
            <div class="col-sm-16 text-center">
                        <p class="">
                        Any new member who is not part of an organization can be introduced by another member
                      </p> 
              </div>
          </div>    
        
    </div> 
    </section>