 <!-- About Section -->
    <section class="success" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Services</h2>
                     <img src="/img/pata2-dark.png" alt="">
                    <p class="subheader">These are some of the services which will be provided to a member organization. The services are outlined below:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center services" >
                    <div class="service-item">
                      <p>Training on Digital Security</p>
                    </div>
                    <div class="service-item">
                      <p>Organizational Security Audit</p>
                     </div>
                    <div class="service-item">
                      <p>Guidance of secure tools and infrastructure deployment</p>
                    </div>
                    <div class="service-item">
                    <p>Digital Security Policy Development and Implementation</p>

                    </div>
                    <div class="service-item">
                       <p>Digital Security Incident Response</p>
                    </div>
                    <div class="service-item">
                      <p>TibCERT will deploy a helpdesk and members would have priority in terms of response.</p>
                    </div>
                    <div class="service-item">
                      <p>TibCERT members will also be invited to participate in trainings on Digital Security and Incident handling to further their own knowledge and capacity.</p>
                    </div>
                </div>        
        </div>
    </div> 
    </section>
     <!-- About Section -->
    