<section class="success" id="tlp">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>འགྲིམ་འགྲུལ་གློག་གི་གྲོས་མཐུན་(TLP)</h2>
                     <img src="/img/pata2-green.png" alt="">
                    <p class="subheader">
                      འགྲིམ་འགྲུལ་གློག་གི་གྲོས་མཐུན་གྱིས་བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ངོས་ནས་གནས་ཚུལ་དང་ཆ་འཕྲིན་བགོ་འགྲེམས་བྱེད་ཕྱོགས་འགྲེལ་བཤད་བྱེད་ཀྱི་ཡོད་ལ། 
འདི་ནི

                    </p>
                    <br><br>
                </div>
            </div>  
            <div class="row" id="tlp-content">
                    <div class="col-sm-6 box-shape1" >
                       <p>བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་གི་ཚོགས་མི་ཕན་ཚུན་བར་དང་། </p>
                    </div>
                    <div class="col-sm-6 box-shape1">
                       <p>
                           བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་དང་བོད་པའི་ཚོགས་སྡེའི་བར།
                       </p>
                    </div>
                    <div class="col-sm-6 box-shape1">
                       <p>
                           བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་དང་དྲ་རྒྱའི་བདེ་འཇགས་ཉམས་ཞིབ་པའི་བར།
                       </p>
                    </div>
                     <div class="col-sm-6 box-shape1">
                       <p>
                         བོད་ཀྱི་གློག་ཀླད་ཛ་དྲག་གྲ་སྒྲིག་ཚན་ཁག་དང་ལམ་སྟོན་ལྷན་ཁང་གི་ཚོགས་མི་བཅས་ཀྱི་བར་དུ་གནས་ཚུལ་བགོ་འགྲེམས་དང་མཉམ་སྤྱོད་བྱེད་ཕྱོགས་ཀྱི་སྲིད་ཇུས་ཀྱི་ཆ་ཤས་ཤིག་ཡིན།
                       </p>
                    </div>           
          </div>   
          <div class="container">
            <br><br>
             <div class="text-center">TibCERT uses the TLP as defined by FIRST(Forum of Incident Response and Security Teams).
              <br><br></div>
             {% include modal-2-bo.html %}
          </div>    
    </div> 
  

   