<section class="success" id="tlp">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center heading">
                    <h2>Traffic Light Protocol (TLP)</h2>
                     <img src="/img/pata2-green.png" alt=""  class="title-line">
                    <p class="subheader"> This TLP defines how TibCERT facilitates greater sharing of information and is part of the TibCERT policy in terms of information sharing between:</p>
                    <br><br>
                </div>
            </div>  
            <div class="row" id="tlp-content">
                    <div class="col-sm-6 box-shape1" >
                       <p>TibCERT and TibCERT members</p>
                    </div>
                    <div class="col-sm-6 box-shape1">
                       <p>
                           TibCERT and the Tibetan community
                       </p>
                    </div>
                    <div class="col-sm-6 box-shape1">
                       <p>
                           TibCERT with cybersecurity researchers
                       </p>
                    </div>
                     <div class="col-sm-6 box-shape1">
                       <p>
                         TibCERT and the advisory council

                       </p>
                    </div>           
          </div>   
          <div class="container">
            <br><br>
             <div class="text-center">TibCERT uses the TLP as defined by FIRST(Forum of Incident Response and Security Teams).
              <br><br></div>
             {% include modal-2.html %}
          </div>    
    </div> 
  

   