<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include home.html %}
    {% include who-we-are.html %}
    {% include services.html %}
    {% include membership.html %}
    {% include tlp.html %}
    {% include about.html %}
    
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollToPlugin.min.js"></script>
      <script src="/js/script.js"></script>
    </body>
</html>